#body{
    margin: 0px;
    padding: 0px;

    background-color: cadetblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* boton historial */
.container button{
  color: white; backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.144);
}
.container button h2{
  font-size: 80%;
}
/* Fin boton historial */

#contenedorPrinciapl{
  position: absolute;
}

#contenedorPrinciapl #cargarTimepo .spinner-border{
  width: 3rem; height: 3rem;
}

#cargaMapa{
  width: 3rem; height: 3rem;
}

#inputMapa{
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.144);

  width: 50%;
  
  border-radius: 15px;
  color: white;
  border: 1px solid white;   
  text-indent: 20px;
  outline: none;
}

input::placeholder {
    color: white; 
}


/* periodos */

#cargarPeriodo{
  margin-top: 5%; height: 30vh;
}

#ContenedorPeriodo{
    margin-top: 5vh;
}

  
#contenedor {
   
  width: 90%; 
  height: 30%h; 
  white-space: nowrap; 
  overflow-x: auto; 
  scroll-behavior: smooth;
    
}
#contenedor::-webkit-scrollbar {
  display: none;
}


#contenedor .elemento {
  display: inline-block;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.568);

  width: 200px;
  height: 85% ;
  margin: 15px ; /* Espacio entre elementos */ 
  color: #fff;
  border-radius: 5px;
}

#contenedor .elemento  .periodo-icono{
  margin: 0px;
  padding: 0px;
  width: 40%;
}

#contenedor .elemento  .periodo-dia{
  font-size: 70%; 
  padding-left: 5%;
  padding-top: 5%;
}

#contenedor .elemento  .periodo-descripcion{
  font-size: 65%; 
  padding: 0px; 
  margin: 0px; 
  padding-left: 5%;
}


.contenedor-flecha-derecha{
  position: absolute;
  width: 30px;
  color: rgba(255, 255, 255, 0.774);
  z-index: 1;
  top: 85%;
  left: 2%;
}

#btnDerecho{
  border: none; 
  background-color: transparent;
}

#btnIzquierdo{
  border: none; 
  background-color: transparent;
}

.contenedor-flecha-izquierda{
  position: absolute;
  width: 30px;
  color: black;
  top: 87%;
  left: 95.5%;
  z-index: 1;
}

.boton{
  color: rgba(0, 0, 0, 0.11);
  width: 30px;
  height: 30px;
  
}
.boton:hover{
  color: rgb(0, 0, 0);
}



/* Nueo */
#tarjetaTiempo{
  border-radius: 50px;
  color: white;
  width: 55vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.356);
  padding: 25px 0px 25px 0px;
}

#tarjetaTiempo #tarjetaTiempo-titulo{
  font-size: 25px;
  padding-left: 5%;
}

#tarjetaTiempo #tarjetaTiempo-descripcion{
  font-size: 15px;
  padding-left: 5%;
}

#iconoTiempo{
  width: 30%;
}

.animate__swing {
  animation: swing infinite;
}

#tarjetaTiempo-temp{
  margin: 0px;
  font-size: 10vh;
  font-weight: bold;
}

#tarjetaTiempo-minMax{
  margin: 0px;
  font-size: 4vh;
  font-weight: bold;
}


/* Mapa */
#mapa{
  border: 0px;
  border-radius: 8px;
  width: 90%;
  height: 100%;

  display: none;
  
}

@media  (max-width: 1100px) {
  #contenedor {
  height: 25vh;
  }
}


@media (max-width: 768px) {
  #contenedorMapa{
    display: none;
  }


  .contenedor-1 #contenedorCiudad{
      padding-left: 0%;
  }  
  .elemento {
    width: 28%;
  }

  .contenedor-flecha-derecha{
    display:none;
  }

  .contenedor-flecha-izquierda{
    display: none;
  }
}




